{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
<!--        <div class="row">-->
<!--            <div class="book col-md-4">-->
<!--                <h2>Сияние</h2>-->
<!--                <p>Автор: Стивен Кинг</p>-->
<!--                <p>Дата публикации: 2018-09-10</p>-->
<!--            </div>-->
<!--            <div class="book col-md-4">-->
<!--                <h2>1984</h2>-->
<!--                <p>Автор: Джордж Оруэл</p>-->
<!--                <p>Дата публикации: 2015-03-11</p>-->
<!--            </div>-->
<!--        </div>-->

        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>
                    <a href="{{ book.pub_date }}/">{{ book.name }}</a>
                </h2>
                <p>Автор: {{ book.author }} </p>
                <p>Дата публикации: {{ book.pub_date|slugify }} </p>
            </div>
            {% endfor %}
            {% if books.has_previous %}
            <a href='?page={{ books.previous_page_number }}'>Назад</a>
            {% endif %}
            {% if books.has_next %}
            <a href='?page={{ books.next_page_number }}'>Вперед</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
